@model List<Models.DTO.GioHang>
@{
    ViewBag.Title = "Index";

}
<html>
<head>
    <title>gio hang</title>
    <link href="~/Clientassets/css/cart.css" rel="stylesheet" />
    <link href="~/Clientassets/font/fontawesome/css/all.css" rel="stylesheet" />
  
</head>
<body>
   

    <main class="cart-page">
        <div class="cart-content">
            <h4 style="font-size: 25px;width: 100%;height: 30px;">Giỏ hàng (@Model.Count)</h4>
            <div class="cart-main">
                <div class="cart-item-1">
                    <div class="cart-sub">
                        @foreach (var item in Model)
                        {
                        <div class="cart-product">
                            <div class="product-box">
                                <a>
                                    <img alt="Bàn phím cơ AKKO 3068B Plus World Tour Tokyo R2" src="@item.Sach.Anh" class=" rounded">
                                </a>
                                <div class="infomation-product">
                                    <div class="info-1">
                                        <div class="product-values">
                                            <a href="#">@item.Sach.TenSach</a>
                                            <p><i style="font-size: 13px;">Tác giả : @item.Sach.TacGia - Nhà xuất bản : @item.Sach.NhaXuatBan</i></p>
                                        </div>
                                        <div class="price-product">
                                            <p style="color: rgb(243, 69, 69);font-size: 20px;font-weight: 600;">@item.Sach.Gia </p>
                                        </div>
                                    </div>
                                    <div class="info-2">
                                        
                                        <form action="/cap-nhat-gio-hang">
                                            <input type="hidden" name="id" value="@item.ID" />
                                            <div style="display: flex; margin-left: 20px">
                                                <a class="minus minus-1" id="minus" data-modal-id="modal-@item.ID"><h2><i class="fa-solid fa-square-minus"></i></h2></a>
                                                <div class="count-product">
                                                    <input type="number" id="modal-@item.ID" min="1" name="soluong" style="width: 40px;height: 30px;margin:5px 10px;text-align: center;" value="@item.SoLuong" readonly>
                                                </div>
                                                <a class="plus plus-1" data-modal-id="modal-@item.ID" id="plus"><h2><i class="fa-solid fa-square-plus"></i></h2></a>
                                            </div>
                                            <button type="submit" style="width: 52px; height: 26px; margin-left: -70px; margin-top: -10px; border: none; background: linear-gradient(to top, limegreen, rgb(241, 241, 241)); ">
                                                <p>Lưu</p>
                                            </button>
                                        </form>
                                           
                                            <form action="/xoa-gio-hang-@item.ID">
                                                <button type="submit" style="width: 52px;height: 26px; margin-top: 10px;
                                                            border: none;background-color: #fff;">
                                                    <p>Xóa</p>
                                                </button>
                                            </form>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                        }
                        
                    </div>
                </div>
                <div class="cart-item-2">
                    <div class="cart-item-2-1">
                        <h5>Chi tiết đơn hàng</h5>
                        <div class="price_sell">
                            <small> Giảm giá </small>
                            <small>0 VNĐ</small>
                        </div>
                        <div class="price_total">
                            <small> Tổng giá </small>
                           
                            <h2 id="total_price">6.000.000</h2>
                        </div>
                        @if (Model.Count > 0 )
                        {
                        <form action="/dat-hang">
                            <input type="hidden" name="iduser" value="@Model[0].ID_KhachHang"/>
                            <button class="btn-order">
                                <p style="font-size: 15px;color: #fff;">Đặt hàng</p>
                            </button>
                        </form>
                        }
			            else
			            {
                                <form action="">
                                   
                                    <button class="btn-order" style="background-color: lightgray">
                                        <p style="font-size: 15px;color: #fff;">Đặt hàng</p>
                                    </button>
                                </form>
			            }
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>


        var totalPrice = 0;
        var products = document.querySelectorAll(".cart-product");
        products.forEach(function (product) {
            var priceElement = product.querySelector(".price-product p");
            var quantityElement = product.querySelector(".count-product input");

            var price = parseFloat(priceElement.innerText.replace(/\D/g, ""));
            var quantity = parseInt(quantityElement.value);

            var productTotal = price * quantity;

            totalPrice += productTotal;

        });
        var totalElement = document.getElementById("total_price");
        totalElement.innerText = totalPrice;
     


        var minus = document.querySelectorAll('.minus');
            minus.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                var soluong = parseInt(modal.value);
                if (soluong > 1) {
                    modal.value = soluong - 1;
                }


                //-------------
                var totalPrice = 0;
                var products = document.querySelectorAll(".cart-product");
                products.forEach(function (product) {
                    var priceElement = product.querySelector(".price-product p");
                    var quantityElement = product.querySelector(".count-product input");

                    var price = parseFloat(priceElement.innerText.replace(/\D/g, ""));
                    var quantity = parseInt(quantityElement.value);

                    var productTotal = price * quantity;

                    totalPrice += productTotal;
                });
                var totalElement = document.getElementById("total_price");
                totalElement.innerText = totalPrice;
              
            });
        });

        var plus = document.querySelectorAll('.plus');
        plus.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                var soluong = parseInt(modal.value);

                modal.value = soluong + 1;

                //------------
                var totalPrice = 0;
                var products = document.querySelectorAll(".cart-product");
                products.forEach(function (product) {
                    var priceElement = product.querySelector(".price-product p");
                    var quantityElement = product.querySelector(".count-product input");

                    var price = parseFloat(priceElement.innerText.replace(/\D/g, ""));
                    var quantity = parseInt(quantityElement.value);

                    var productTotal = price * quantity;

                    totalPrice += productTotal;
                });
                var totalElement = document.getElementById("total_price");
                totalElement.innerText = totalPrice;
            });
        });

      


        

    </script>
</body>
</html>
