@model Models.DTO.KhachHang

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Areas/Assets/fontawesome-free-6.3.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/detailadmin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .thongbao {
            font-size: 15px;
            color: var(--blue);
            list-style: none;
        }
    </style>
</head>
<body>

    <main>
        <section class="section-content">
            <img style="position: absolute;z-index: -1;width: 1043px;height: 690px;" src="/assestAdmin/img/hinh-anh-binh-minh-tren-dong-co.jpg" alt="">
            <div style="width: 100%;">
                <div class="header-setting">
                    <div class="header-setting-item">
                        <p>Thông tin</p>
                    </div>

                </div>
                <div class="content-setting ">
                    <div class="body-setting">
                        <div class="avata-setting">
                            <div class="img-avatar">
                                <img src="@Model.AnhDaiDien">
                            </div>
                            <div class="img-item">
                                <p>Số điện thoại</p>
                                <i><small>@Model.SDT</small></i>
                            </div>
                            <div class="img-item">
                                <p>Email</p>
                                <i><small>@Model.Email</small></i>
                            </div>

                        </div>
                        <div class="infomation-setting">
                            <div class="change-info">
                                <form action="/chinh-sua-thong-tin" method="post" style=" width: 100%; height: 100%;">

                                    <div class="upload-image" id="upload-image">
                                        <div style="width:100%;height:10%;text-align:center;display:flex;justify-content:center">
                                            <h3 style="margin-top:20px">Ảnh đại diện </h3>

                                            <i id="icon-function" class="fa-solid fa-arrow-up-from-bracket fa-rotate-90"></i>
                                        </div>
                                        @Html.AntiForgeryToken()

                                        <div class="fill-info">

                                            <div class="info-item-0">
                                                <img src="@Model.AnhDaiDien" id="anhdaidien" />
                                                <input id="txtImage" name="avt" type="hidden" value="" placeholder="................">
                                                <input class="input-image" type="button" value="Tải ảnh" onclick="BrowserServer('txtImage')" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-info" id="upload-info">
                                        <div style="width: 100%; height: 10%; text-align: center; display: flex; justify-content: center">
                                            <h3 style="margin-top:20px">Thông tin cá nhân </h3>
                                            <i style="margin-left:30px;" id="icon-function-2" class="fa-solid fa-arrow-up-from-bracket fa-rotate-270"></i>
                                        </div>
                                        <div class="fill-info" style="margin-top:30px;">
                                            <div class="item-info">
                                                <p>Họ và tên </p>
                                                <input type="text" name="hoten" value="@Model.HoTen" required />
                                            </div>
                                            <div class="item-info">
                                                <p>Địa chỉ </p>
                                                <input type="text" name="diachi" value="@Model.Diachi" required />
                                            </div>
                                            <div class="item-info">
                                                <p>Email </p>
                                                <input type="text" name="email" value="@Model.Email" required />
                                            </div>
                                            <div class="item-info">
                                                <p>Số điện thoại </p>
                                                <input type="text" name="sdt" value="@Model.SDT" required />
                                            </div>
                                        </div>
                                        <div style=" width:100%;margin-left:40%; ">
                                            <i>@Html.ValidationSummary(true, null, new { @class = "thongbao" })</i>

                                        </div>
                                        <button class="button-save"> Lưu </button>
                                    </div>

                                </form>
                            </div>
                            <div class="change-password">
                                <form action="/chinh-sua-mat-khau" method="post" style=" width: 100%; height: 100%;">
                                    @Html.AntiForgeryToken()
                                    <div class="upload-info-1">
                                        <div style="width: 100%; height: 10%; text-align: center; display: flex; justify-content: center">
                                            <h3 style="margin-top:20px">Đổi mật khẩu </h3>

                                        </div>
                                        <div class="fill-info" style="margin-top:30px;">
                                            <div class="item-info">
                                                <p>Mật khẩu hiện tại </p>
                                                <input type="password" name="oldpass" required />
                                            </div>
                                            <div class="item-info">
                                                <p>Mật khẩu mới</p>
                                                <input type="password" name="newpass" required />
                                            </div>
                                            <div class="item-info">
                                                <p>Xác nhận </p>
                                                <input type="password" name="confirm" required />
                                            </div>
                                            <div style=" width:100%;margin-left:40%; margin-top:30px;">
                                                <i>@Html.ValidationSummary(true, null, new { @class = "thongbao" })</i>

                                            </div>
                                        </div>
                                        
                                        <button class="button-save"> Lưu </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        function BrowserServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                var image = document.getElementById("anhdaidien");
                document.getElementById(field).value = fileUrl;
                image.src = fileUrl;
            };
            finder.popup();
        }
    </script>
    <script>
        var content1 = document.getElementById("upload-image");
        var content2 = document.getElementById("upload-info");

        var icon1 = document.getElementById("icon-function");
        var icon2 = document.getElementById("icon-function-2");

        icon1.addEventListener('click', function () {
            content1.style.display = "none";
            content2.style.display = "block";
        });
        icon2.addEventListener('click', function () {
            content2.style.display = "none";
            content1.style.display = "block";
        })
        document.getElementById("myForm").addEventListener("submit", function (event) {
            var formInputs = this.querySelectorAll("input[required]");
            for (var i = 0; i < formInputs.length; i++) {
                if (formInputs[i].value === "") {
                    event.preventDefault();
                    formInputs[i].setCustomValidity("Vui long nhap thong tin");
                } else {
                    formInputs[i].setCustomValidity("");
                }
            }
        });
    </script>

</body>
</html>