@model Models.DTO.Sach
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="~/Clientassets/css/product.css" rel="stylesheet" />
    <link href="~/Clientassets/font/fontawesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <div id="content xzx" class="container" style="background-color: antiquewhite; border-radius: 10px;">
            <div id="left-content">
                <div class="head-img">
                    <img src="@Model.Anh" alt="" style="width: 366px; height: 400px;">

                    <br>
                    <div class="select">
                        <a class="cart" href="url" onclick="addToCart()">Bỏ giỏ hàng</a><i class="fa-solid fa-cart-shopping"></i>
                        <a class="buy" href="urla" onclick="addToOrder()">Mua Ngay</a><i class="fa-solid fa-money-check"></i>

                    </div>
                </div>

            </div>
            <hr />
            <div id="right-content">
                <h3 class="Nameproduct">@Model.TenSach</h3>

                <div class="ct ">
                    <ul class="specific">
                        <li>Tác Giả:@Model.TacGia</li>
                        <li>Nhà xuất bản:@Model.NhaXuatBan</li>
                        <li>Số lượng đã bán:@Model.SoLuong_DaBan</li>
                        <li>Thể Loại:@Model.Loai_Sach.Loaisach</li>
                    </ul>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <span>
                        <h3 class="buy">Giá : @(Model.Gia-Model.Gia_giam)</h3>
                        <del>@Model.Gia</del>

                    </span>
                    <div class="sol">
                        <span class="sl">Số lượng</span>
                        <input type="number" class="number" id="solng">
                    </div>
                </div>
                <div class="content-footer">
                    <ul class="specific-ft">
                        <li><i class="fa-solid fa-rotate-left"></i>7 Ngày Miễn Phí Trả Hàng</li>
                        <li><i class="fa-solid fa-circle-check"></i>Hàng Chính Hãng 100%</li>
                        <li><i class="fa-solid fa-car-side"></i>Miễn Phí Vận Chuyển</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="book-infor" class="container2" style="background-color: antiquewhite; border-radius: 10px; margin-top: 20px; margin-bottom: 20px;">
            <div class="head-inf  flex">
                <ul class="info">
                    <h4>Thông tin sách</h4>
                    <li class="flex">Mã Hàng  </li>
                    <li class="flex">Tác giả </li>
                    <li class="flex">Nhà xuất bản </li>
                    <li class="flex">Năm xuất bản</li>
                    <li class="flex">Trọng lương(gr)</li>
                    <li class="flex">Kích thước bao bì</li>
                    <li class="flex">Số trang</li>
                    <li class="flex">Hình thức</li>
                </ul>
                <ul class="info-name">
                    <li>@Model.TenSach</li>
                    <li>@Model.TacGia</li>
                    <li>@Model.NhaXuatBan</li>
                    <li>2023</li>
                    <li>450</li>
                    <li>17.5x15.5cm</li>
                    <li>350</li>
                    <li>Bìa Mềm</li>
                    <hr>
                </ul>
            </div>
            <div class="body-inf">
               @Model.Mota
                <br>
            </div>
        </div>

        <div class="comment_product">
            <!--    @Html.Action("Start", "ProductDetails", new {idsach = Model.ID})-->
            <div class="write_comment">
                <form action="/binh-luan" method="get">
                    <input type="hidden" name="idsach" id="idsach" value="@Model.ID" />
                    <input class="btn_comment" type="submit" value="Bình luận" />
                    <input class="input_comment" type="text" name="noidung" id=" noidung" />

                </form>
            </div>
            <div class="view_comment">
                @Html.Action("Listcomment", "ProductDetails", new { idsach = Model.ID })
            </div>

        </div>
    </div>
    <script>

        function addToCart() {
            var solng = document.getElementById("solng").value;
            if (solng == 0) solng = 1;
            var url = 'them-vao-gio-hang-@Model.ID-' + solng;
            document.querySelector(".select .cart").href = url;
        }
         function addToOrder() {
             var solng = document.getElementById("solng").value;
             var urla = 'xac-minh-don-hang-@Model.ID-' + solng;
            document.querySelector(".select .buy").href = urla;
        }

    </script>
</body>

</html>

