@model PagedList.IPagedList<Models.DTO.KhachHang>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
     

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
            
            .pagination a,
            .pagination span {
                display: inline-block;
                padding: 6px 12px;
                margin-right: 5px;
                border-radius: 3px;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #007bff;
                text-decoration: none;
                
               
            }

                .pagination a:hover,
                .pagination span.current {
                    color: #000;
                    background-color: #007bff;
                    border-color: #007bff;
                }

                .pagination span.ellipsis {
                    display: inline-block;
                    margin-right: 5px;
                    color: #007bff;
                }

                .pagination span.disabled {
                    display: none;
                }
        .ip_search {
            width: 10%;
            height: 70px;
            border-radius: 50px;
            border: none;
            text-align: center;
            background-color: var(--blue);
            transition:all 1s;
        
        }


        .button-tab {
            width: 150px;
            text-align: center;
            height: 70px;
            border-right: 1px solid;
            text-decoration: none;
            border:none;
        }
        .button-search{
            background-color:lightgray;
            border-radius:100px;
        }

        .button-search:hover {
            background-color: aqua;
        }
        i{
            color:lightcoral;
        }
      
    </style>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/Modal_product.css" rel="stylesheet" />
</head>
<body>

    <div class="detail">

        <div class="detail_list">
            @using (Html.BeginForm("Index", "Customers", FormMethod.Get))
            {
            <div style="text-align:center;" id="divsearch";>
                <div style="height:10px;width:100%;">
                    <input type="text" id="input-search" class="ip_search" name="Searchstring" value="@ViewBag.Search" placeholder="Tìm Kiếm" autocomplete="off" />
                </div>
                <div id="bgr-search" style="background-color:lightgray; width:90%;height:50px;margin-bottom:40px;border-radius:50px;margin-left:5%;transition:all 1s;">
                    
                </div>
            </div>

            }
            <table >
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Tên tài khoản</td>
                        <td>Họ tên</td>
                        <td>Gmail</td>
                        <td>Địa Chỉ</td>
                        <td>Số DT</td>
                        <td>Trạng Thái</td>
                 

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>@(++count)</td>
                        <td>@item.TaiKhoan.TenTaiKhoan</td>
                        @if (item.HoTen != "")
                        {
                            <td>@item.HoTen</td>
                        }
                        else
                        {
                            <td><small><i>Chưa có thông tin</i></small></td>
                        }

                        @if (item.Email != "")
                        {
                            <td>@item.Email</td>
                        }
                        else
                        {
                            <td><small><i>Chưa có thông tin</i></small></td>
                        }
                        @if (item.Diachi != "")
                        {
                            <td>@item.Diachi</td>
                        }
                        else
                        {
                            <td><small><i>Chưa có thông tin</i></small></td>
                        }
                        @if (item.SDT != "")
                        {
                            <td>@item.SDT</td>
                        }
                        else
                        {
                            <td><small><i>Chưa có thông tin</i></small></td>
                        }
                        @if (item.TaiKhoan.Trangthai == true)
                        {
                            <td> <a onclick="location.reload();" href="/doi-trang-thai-khach-hang-@item.ID" >
                                     <i class="fa-solid fa-toggle-on" style="color:green"></i>
                                 </a>
                            </td>
                        }
                        else
                        {
                            <td><a onclick="location.reload();" href="/doi-trang-thai-khach-hang-@item.ID" >
                                    <i class="fa-solid fa-toggle-off" style="color:red"></i>
                                </a>  </td>

                        }



                    </tr>
                    }



                    

                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
        </div>
        <!-- -----------------HD gan dayh--------- -->

    </div>
   <script>
       var inputsearch = document.getElementById("input-search");
       var bgrsearch = document.getElementById("bgr-search");
       inputsearch.addEventListener('mouseover', function () {
           inputsearch.style.width = "80%";
           inputsearch.style.height = "50px";
           inputsearch.style.marginTop = "10px";

           bgrsearch.style.width = "100%";
           bgrsearch.style.marginLeft = "0%";
       });
       inputsearch.addEventListener('mouseout', function () {
           inputsearch.style.width = "10%";
           inputsearch.style.height = "70px";
           inputsearch.style.marginTop = "0px";

           bgrsearch.style.width = "90%";
           bgrsearch.style.marginLeft = "5%";
       });
       
   </script>
</body>
</html>