
@model PagedList.IPagedList<Models.DTO.Magiamgia>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<html>
<head>
    <title>Sản phẩm</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
  
    <link href="~/Areas/Assets/fontawesome-free-6.3.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/voucher.css" rel="stylesheet" />
</head>
<body>

    <div class="detail_list">

        <div style="display:flex;height:70px;justify-content:space-between;width:95%;margin-bottom:20px">
            @using (Html.BeginForm("Index", "Vouchers", FormMethod.Get))
            {
                <div class="divsearch" >
                    <div>
                        <i class="fa-solid fa-magnifying-glass fa-2xl" style="margin-top:35px;"></i>
                    </div>
                    <input type="text" id="input-search" class="ip_search" autocomplete="off" name="Searchstring" value="@ViewBag.Search" placeholder="Tìm kiếm ..." />
                </div>
            }
            <div class="list-button">
                <div class="button-add">
                    @if (ViewBag.Status == false)
                    {
                        <div class="button-tab-0">
                            <a class="button-tab modal-btn" data-modal-id="modal-0">
                                <i class="fa-solid fa-square-plus fa-2xl " style="margin-top:35px;"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        <a class="button-tab modal-btn" data-modal-id="modal-0">
                            <i class="fa-solid fa-square-plus fa-2xl " style="margin-top:35px;"></i>
                        </a>
                    }
                    <div id="modal-0" class="modal">
                        <div class="modal-content" >

                            <div class="title_modal_pro">
                                <strong >Mã giảm giá</strong>
                            </div>
                            <div class="content_modal_pro" >
                                <div class="avt_pro" >
                                    <form action="/them-ma-giam-gia" method="post" style="display:flex">
                                        @Html.AntiForgeryToken()
                                        <div class="list-item-info">
                                            <div class="item_modal_pro">
                                                <p style="width:100px">Mã giảm giá :</p>
                                                <input type="text" name="Ma" required/>
                                            </div>
                                            <div class="item_modal_pro">
                                                <p style="width:100px"> Giá trị : </p>
                                                <input type="number" min="1" name="Giatri" required/>
                                            </div>
                                            <div class="item_modal_pro">
                                                <p style="width:100px"> Số lượng : </p>
                                                <input type="number" min="1" name="Soluong" required/>
                                            </div>

                                            <input type="hidden" name="DeleteStatus" value="false" />
                                            <input type="hidden" name="Trangthai" value="true" />
                                            <div class="item_modal_pro">
                                                <p >Thời gian bắt đầu</p>
                                                <input class="form-control text-box single-line" id="time1" name="time1" type="datetime-local"  required>
                                            </div>
                                            <div class="item_modal_pro">
                                                <p s>Thời gian kết thúc</p>
                                                <input class="form-control text-box single-line" id="time2" name="time2" type="datetime-local"  required>
                                            </div>
                                            <div class="item_modal_pro" >
                                                <button type="submit">Tạo mới</button>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.Status == false)
                    {
                        <a class="button-tab-1" style="background-color:lightgray;" href="/ma-giam-gia-true">
                            <i class="fa-solid fa-trash fa-2xl" style="margin-top:35px;"></i>
                        </a>
                    }
			        else
			        {

                    <div class="button-tab-0">
                        <a class="button-tab-2" style="background-color: lightblue;" href="/ma-giam-gia-false">
                            <i class="fa-solid fa-arrow-left fa-2xl" style="margin-top:35px;"></i>
                        </a>
                    </div>
			        }

                    </div>
                <div style="width: 50%; height: 20px; background: linear-gradient(to left, lightgray, limegreen); margin-left: 25%; "></div>
            </div>


        </div>
        <table style="width:100%">
            <thead style="background-color: rgb(52 160 160);">
                <tr>
                    <td id="title-table" style="color:aqua;font-weight:700">Mã giảm giá</td>
                    <td id="title-table-1" style="color:aqua">Giá trị</td>
                    <td id="title-table-2" style="color:aqua">Số lượng</td>
                    <td id="title-table-3" style="color:aqua">Thời gian bắt đầu </td>
                    <td id="title-table-4" style="color:aqua">Thời gian kết thúc</td>
                    <td id="title-table-7" style="color:aqua">Trạng thái</td>
                    <td id="title-table-5" style="color:aqua">Bỏ</td>
                    <td id="title-table-6" style="color:aqua">Gia hạn</td>

                </tr>
            </thead>

            <tbody id="body-table">
                @foreach (var item in Model)
                {
                <tr id="row-table">

                    <td>@item.Ma</td>
                    <td>@item.Giatri</td>
                    <td>@item.Soluong</td>
                    <td>@item.Time1</td>
                    <td>@item.Time2</td>
                    @if (item.DeleteStatus == false)
                    {
                        if (item.Trangthai == true)
                        {
                            <td style="color:lightgreen">Hoạt động</td>
                        }
                        else
                        {
                            <td style="color:lightcoral">Khóa</td>
                        }
                        <td><a href="bo-khoi-phuc-@item.ID">Bỏ thùng rác</a></td>
                        <td>
                            <a class="modal-btn" data-modal-id="modal-@item.ID" href="#">Gia hạn</a>


                            <div id="modal-@item.ID" class="modal">
                                <div class="modal-content" style="height:280px;">
                                    <div class="title_modal_pro">
                                        <strong style="text-align: center;font-size:25px;">Thay đổi thời gian</strong>
                                    </div>
                                    <div class="content_modal_pro">
                                        <div class="avt_pro" style="justify-content: center; align-items: center;">
                                            <form action="/gia-han" method="post">
                                                <input type="hidden" name="id" id="id" value="@item.ID" />
                                                <div class="item_modal_pro" >
                                                    <p style="flex:1">Thời gian bắt đầu</p>
                                                    <input class="form-control text-box single-line" id="time1" name="time1" type="datetime-local" value="@item.Time1" style="flex:1;width:250px" required>
                                                </div>
                                                <div class="item_modal_pro">
                                                    <p style="flex:1">Thời gian kết thúc</p>
                                                    <input class="form-control text-box single-line" id="time2" name="time2" type="datetime-local" value="@item.Time2" style="flex: 1; width: 250px" required>
                                                </div>
                                                <div class="item_modal_pro">
                                                    <button style="margin-left:30%" type="submit">Gia hạn</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td><a href="bo-khoi-phuc-@item.ID"> Khôi phục</a></td>
                    }

                </tr>
                }





            </tbody>
        </table>

        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
    </div>
    <!-- -----------------HD gan dayh--------- -->


    <script>



        var modalBtns = document.querySelectorAll('.modal-btn');

        modalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                modal.style.display = "block";
            });
        });

        
        window.onclick = function (event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = "none";
            }
        };


        var inputsearch = document.getElementById("input-search");

        inputsearch.addEventListener('mouseover', function () {
            inputsearch.style.width = "60%";
            inputsearch.style.borderRadius = "0px 50px 50px 0px";
            inputsearch.style.backgroundColor = "lightgreen";
        });
        inputsearch.addEventListener('mouseout', function () {
            inputsearch.style.width = "20%";
            inputsearch.style.borderRadius = "0px 10px 10px 0px";
            inputsearch.style.backgroundColor = "lightgray";
        });

        var bodytable = document.getElementById("body-table");
        var titletable = document.getElementById("title-table");
        var titletable0 = document.getElementById("title-table-1");
        var titletable1 = document.getElementById("title-table-2");
        var titletable2 = document.getElementById("title-table-3");
        var titletable3 = document.getElementById("title-table-4");
        var titletable4 = document.getElementById("title-table-5");
        var titletable5 = document.getElementById("title-table-6");
        var titletable6 = document.getElementById("title-table-7");
        bodytable.addEventListener('mouseover', function () {
            titletable.style.color = "#fff";
            titletable0.style.color = "#fff";
            titletable1.style.color = "#fff";
            titletable2.style.color = "#fff";
            titletable3.style.color = "#fff";
            titletable4.style.color = "#fff";
            titletable5.style.color = "#fff";
            titletable6.style.color = "#fff";
        });
        bodytable.addEventListener('mouseout', function () {
            titletable.style.color = "aqua";
            titletable0.style.color = "aqua";
            titletable1.style.color = "aqua";
            titletable2.style.color = "aqua";
            titletable3.style.color = "aqua";
            titletable4.style.color = "aqua";
            titletable5.style.color = "aqua";
            titletable6.style.color = "aqua";
        });


    </script>
</body>
</html>
