
@model PagedList.IPagedList<Models.DTO.Magiamgia>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Mã giảm giá</title>
    <style>
        .table-product {
            background-color: lightcyan;
        }

        .search {
            width: 100px;
            height: 30px;
            border-radius: 10px;
            background-color: aquamarine;
        }


        .ip_search {
            width: 830px;
            height: 70px;
            border: none;
            text-align: center;
            background-color: lightcyan;
        }

            .ip_search:active {
                border: none;
                outline: none;
            }
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

            .pagination a,
            .pagination span {
                display: inline-block;
                padding: 6px 12px;
                margin-right: 5px;
                border-radius: 3px;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #007bff;
                text-decoration: none;
            }

                .pagination a:hover,
                .pagination span.current {
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;
                }

                .pagination span.ellipsis {
                    display: inline-block;
                    margin-right: 5px;
                    color: #007bff;
                }

                .pagination span.disabled {
                    display: none;
                }
        .button-tab {
            width: 150px;
            text-align: center;
            height: 70px;
            border-right: 1px solid;
            text-decoration: none
        }

        .button-search:hover {
            background-color: aqua;
        }
    </style>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/Modal_categories.css" rel="stylesheet" />
</head>
<body>
    <div class="detail">

        <div class="detail_list" style="width:1300px;">

            <div style="display:flex;background-color:aqua;height:70px;">
                <div style="display:flex;">
                    @if (ViewBag.Status == false)
                    {
                        <a class="button-tab" href="/ma-giam-gia-true" style="background-color: lightcoral">
                            <p style="margin-top:25px;">Thùng rác</p>
                        </a>
                    }
                    else
                    {
                        <a class="button-tab" href="/ma-giam-gia-false" style="background-color: lightcoral">
                            <p style="margin-top:25px;">Trở lại</p>
                        </a>
                    }

                    <a class="button-tab modal-btn" href="#" data-modal-id="modal-0" style="background-color: lightgreen">
                        <p style="margin-top:25px;">Thêm mã giảm giá</p>
                    </a>

             


                    <div id="modal-0" class="modal">
                        <div class="modal-content" style="height:350px;width:800px">
                            <div class="title_modal_pro">
                                <strong style="text-align: center;font-size:25px;">Thêm mã giảm giá</strong>
                            </div>
                            <div class="content_modal_pro" style="height:220px">
                                <div class="avt_pro" style="justify-content: center; align-items: center;">
                                    <form action="/them-ma-giam-gia" method="post" style="display:flex">
                                        @Html.AntiForgeryToken()
                                        <div style="width:400px;">
                                            <div style="display:flex;margin:40px 0 0 20px">
                                                <p style="width:100px">Mã giảm giá :</p>
                                                <input type="text" name="Ma" />
                                            </div>
                                            <div style="display: flex; margin: 20px 0 0 20px">
                                                <p style="width:100px"> Giá trị : </p>
                                                <input type="number" min="0" name="Giatri" />
                                            </div>
                                            <div style="display: flex; margin: 20px 0 0 20px">
                                                <p style="width:100px"> Số lượng : </p>
                                                <input type="number" min="0" name="Soluong" />
                                            </div>
                                        </div>
                                        <div style="width:400px;margin-left:100px">
                                            <input type="hidden" name="DeleteStatus" value="false" />
                                            <input type="hidden" name="Trangthai" value="true" />
                                            <div class="item_modal_pro">
                                                <p style="flex:1">Thời gian bắt đầu</p>
                                                <input class="form-control text-box single-line" id="time1" name="time1" type="datetime-local" style="flex:1;width:250px">
                                            </div>
                                            <div class="item_modal_pro">
                                                <p style="flex:1">Thời gian kết thúc</p>
                                                <input class="form-control text-box single-line" id="time2" name="time2" type="datetime-local" style="flex: 1; width: 250px">
                                            </div>
                                            <div class="item_modal_pro">
                                                <button style="margin-left:40%;height:30px;width:100px;background-color:aqua" type="submit">Tạo mới</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                </div>

                @using (Html.BeginForm("Index", "Vouchers", FormMethod.Get))
                {
                    <div style="display:flex;  ">
                        <button type="submit" class="button-tab button-search" style="border:none">Tìm kiếm</button>
                        <input type="text" class="ip_search" name="Searchstring" value="@ViewBag.Search" placeholder="Tìm kiếm ..." />
                    </div>
                }
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Mã giảm giá</td>
                        <td>Giá trị</td>
                        <td>Số lượng</td>

                        <td>Thời gian bắt đầu</td>
                        <td>Thời gian kết thúc</td>
                        <td>Trạng Thái</td>
                        <td>#</td>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>@item.Ma</td>
                        <td>@item.Giatri</td>
                        <td>@item.Soluong</td>
                        <td>@item.Time1</td>
                        <td>@item.Time2</td>
                        @if (item.DeleteStatus == false)
                        {
                            if (item.Trangthai == true)
                            {
                                <td style="color:lightgreen">Hoạt động</td>
                            }
                            else
                            {
                                <td style="color:lightcoral">Khóa</td>
                            }
                            <td><a href="bo-khoi-phuc-@item.ID">Bỏ thùng rác</a></td>
                            <td>
                                <a class="modal-btn" data-modal-id="modal-@item.ID" href="#">Gia hạn</a>


                                <div id="modal-@item.ID" class="modal">
                                    <div class="modal-content" style="height:280px;">
                                        <div class="title_modal_pro">
                                            <strong style="text-align: center;font-size:25px;">Thay đổi thời gian</strong>
                                        </div>
                                        <div class="content_modal_pro">
                                            <div class="avt_pro" style="justify-content: center; align-items: center;">
                                                <form action="/gia-han" method="post">
                                                    <input type="hidden" name="id" id="id" value="@item.ID" />
                                                    <div class="item_modal_pro" style="margin-top:40px;padding-top:40px">
                                                        <p style="flex:1">Thời gian bắt đầu</p>
                                                        <input class="form-control text-box single-line" id="time1" name="time1" type="datetime-local" placeholder="@item.Time1" style="flex:1;width:250px">
                                                    </div>
                                                    <div class="item_modal_pro">
                                                        <p style="flex:1">Thời gian kết thúc</p>
                                                        <input class="form-control text-box single-line" id="time2" name="time2" type="datetime-local" placeholder="@item.Time2" style="flex: 1; width: 250px">
                                                    </div>
                                                    <div class="item_modal_pro">
                                                        <button style="margin-left:40%;height:30px;width:100px;background-color:aqua" type="submit">Tạo mới</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td><a href="bo-khoi-phuc-@item.ID"> Khôi phục</a></td>
                        }

                    </tr>
                    }
                    





                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
        </div>
        <!-- -----------------HD gan dayh--------- -->


    </div>
    <script>

        var modalBtns = document.querySelectorAll('.modal-btn');

        modalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                modal.style.display = "block";
            });
        });

        var closeBtns = document.querySelectorAll('.close');
        closeBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modal = this.closest('.modal');
                modal.style.display = "none";
            });
        });
        window.onclick = function (event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = "none";
            }
        };
    </script>

</body>
</html>