@model PagedList.IPagedList<Models.DTO.Magiamgia>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Mã giảm giá</title>
    <style>
        .table-product {
            background-color: lightcyan;
        }

        .search {
            width: 100px;
            height: 30px;
            border-radius: 10px;
            background-color: aquamarine;
        }

        .ip_search {
            width: 580px;
            height: 37px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

            .pagination a,
            .pagination span {
                display: inline-block;
                padding: 6px 12px;
                margin-right: 5px;
                border-radius: 3px;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #007bff;
                text-decoration: none;
            }

                .pagination a:hover,
                .pagination span.current {
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;
                }

                .pagination span.ellipsis {
                    display: inline-block;
                    margin-right: 5px;
                    color: #007bff;
                }

                .pagination span.disabled {
                    display: none;
                }
    </style>
</head>
<body>
    <div class="detail">

        <div class="detail_list" style="width:1300px;">

            <div style="display:flex;background-color:aqua;height:37px;">
                <div style="display:flex;border:1px solid;">
                    <a style="border:1px;width:100px; text-align:center;height:35px;border-right:1px solid" href="">
                        <p style="margin-top:5px;">Thùng rác</p>
                    </a>
                    <a style="border:1px;width:150px; text-align:center;height:35px;" href="">
                        <p style="margin-top:5px;">Thêm mã giảm giá</p>
                    </a>
                </div>

                @using (Html.BeginForm("Index", "Vouchers", FormMethod.Get))
                {
                    <div style="display:flex;  ">
                        <button type="submit" style="width:150px; text-align:center;height:37px;background-color:aqua">Tìm kiếm</button>
                        <input type="text" class="ip_search" name="Searchstring" value="@ViewBag.Search" placeholder="Tìm kiếm ..." />
                    </div>
                }
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Mã giảm giá</td>
                        <td>Giá trị</td>
                        <td>Số lượng</td>
                        <td>Trạng Thái</td>
                        <td>#</td>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Ma</td>
                            <td>@item.Giatri</td>
                            <td>@item.Soluong</td>
                            @if (item.Trangthai == true)
                            {
                                <td>Hoạt động</td>
                            }
                            else
                            {
                                <td>Khóa</td>
                            }
                            <td><a href="/doi-trang-thai-danh-muc-@item.ID">Bỏ thùng rác</a></td>
                        </tr>
                    }





                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
        </div>
        <!-- -----------------HD gan dayh--------- -->


    </div>

</body>
</html>