
@{
    ViewBag.Title = "Index";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Areas/Assets/css/Homeadmin.css">
    <link rel="stylesheet" href="~/Areas/Assets/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
        <div class="box-list-item">
            <div class="main-item item-1">
                @Html.Action("Account_info","Home1")
                <div class="item-right">
                    <div>
                        <i class="fa-sharp fa-solid fa-people-arrows " style="margin: 20px;"></i>
                    </div>
                </div>
            </div>
            <div class="main-item item-2">
                @Html.Action("Product_info", "Home1")
                <div class="item-right">
                    <div>
                        <i class="fa-solid fa-book" style="margin: 20px;"></i>
                    </div>
                </div>
            </div>

            <div class="main-item item-3">
                @Html.Action("Order_info", "Home1")
                <div class="item-right">
                    <div>
                        <i class="fa-solid fa-cart-shopping" style="margin: 20px;"></i>
                    </div>
                </div>
            </div>
            <div class="main-item item-4">
                @Html.Action("Category_info", "Home1")
                <div class="item-right">
                    <div>
                        <i class="fa-solid fa-list-check" style="margin: 20px;"></i>

                    </div>
                </div>
            </div>

        </div>

        <div class="detail">
            <div class="detail_list">
                <div id="revenue-values-1" class="revenue-values-1" style="display: block;">
                    <div class="values first-values">
                        @Html.Action("Category_info_1","Home1")
                          
                    </div>
                    
                    <div class="second-value">
                        @Html.Action("Percent_Order","Home1")                    
                    </div>
                </div>
            </div>
            <!-- ===============HD gan dayh=========== -->
            <div class="centerpeople">

                @Html.Action("Percent_typeOrder","Home1")
                

            </div>

        </div>
        </main>
     
</body>
</html>