@model Models.DTO.KhachHang
@using Models.DAO
@{
    ViewBag.Title = "Index";

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hồ sơ</title>
    <link href="~/Clientassets/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Clientassets/css/user.css" rel="stylesheet" />
    <style>
        .thongbao {
            text-align: center;
            width: 400px;
            font-size: 20px;
            color: #33d7d4;
        }
    </style>
</head>

<body>
    <div class="body-content">

        <div class="left-body">
            <div class="col-xl-4  top-left-body">
                <div class="card1">
                    <div style="text-align:center">
                        <img src="@Model.AnhDaiDien" alt="" class="round" style="border:1px solid;margin-top:30px;">
                        <h2>@Model.HoTen</h2>
                        <h3>------------------</h3>

                    </div>
                </div>
            </div>
            <div class="bot-left-body">
                <div class="topbutton">
                    <h3>Thông tin chi tiết</h3>
                    <div style="display:flex;margin-top:20px">
                        <h4 style="min-width:100px">Họ tên :</h4> <i>@Model.HoTen</i>
                    </div>
                    <div style="display:flex">
                        <h4 style="min-width:100px">Địa chỉ  :</h4> <i>@Model.Diachi</i>
                    </div>
                    <div style="display:flex">
                        <h4 style="min-width:100px">Email  :</h4> <i>@Model.Email</i>
                    </div>
                    <div style="display:flex">
                        <h4 style="min-width:100px">SDT  :</h4> <i>@Model.SDT</i>
                    </div>
                </div>

            </div>
        </div>

        <div class="right-body">
            <div class="title_profile">
                <div class="center_profile">

                    <a href="/sua-ho-so" class="btn-func" id="btn2" style="background-color: lightblue"><p style="margin-top:20px;">Chỉnh sửa</p></a>

                    <a href="/doi-mat-khau" class="btn-func" id="btn3" style="background-color: lightgray"><p style="margin-top:20px;">Đổi mật khẩu</p> </a>
                </div>
            </div>
            <div id="content" class="body_profile"></div>

            <div id="content2" style="display:block;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                   
                    <form action="/sua-ho-so" method="get" >
                        <div style="display:flex;width:100%;height:80%">
                            <div class="subdiv"  style="width:50%">
                                <div class='body_content'>
                                    <div class="contentcolumn img_avt">
                                        <img src="@Model.AnhDaiDien" id="anhdaidien">
                                        <div class="pt-2">
                                            <input type="hidden" id="txtImage" name="avt"  />
                                            <input style="width:100%;height:30px;margin-left:5px;margin-bottom:5px;margin-right:5px;" type="button" value="Tải ảnh" onclick="BrowserServer('txtImage')" />

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div style="width:50%">
                                <div class="subdiv">
                                    <div class="body_content">
                                        <div class="namecolumm"><p class="cnt_column">Họ và tên</p></div>
                                        <div class="contentcolumn"> <input class="content_column" value="@Model.HoTen" name="hoten" /> </div>

                                    </div>
                                </div>
                                <div class="subdiv">
                                    <div class="body_content">
                                        <div class="namecolumm"><p class="cnt_column">Địa chỉ</p></div>
                                        <div class="contentcolumn"> <input class="content_column" value="@Model.Diachi" name="diachi" /> </div>

                                    </div>

                                </div>
                                <div class="subdiv">

                                    <div class="body_content">

                                        <div class="namecolumm"><p class="cnt_column">Email </p></div>
                                        <div class="contentcolumn"> <input class="content_column" value="@Model.Email" name="email" /> </div>

                                    </div>
                                </div>
                                <div class="subdiv">
                                    <div class="body_content">

                                        <div class="namecolumm"><p class="cnt_column">Số điện thoại</p></div>
                                        <div class="contentcolumn"> <input class="content_column" value="@Model.SDT" name="sdt" /> </div>

                                    </div>

                                </div>
                                <div class="subdiv" style="margin-left:25px">
                                    <div style=" margin-left: 20px; margin-top: 40px;">
                                        <i>@Html.ValidationSummary(true, null, new { @class = "thongbao" })</i>
                                        <hr />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>


                            <div>
                                <button type="submit" class="btn btn-primary button-saveinfo">Lưu thông tin</button>
                            </div>
                        
                    </form>
                }
            </div>

        </div>
    </div>

    <script src="~/Clientassets/js/apexcharts.min.js"></script>
    <script src="~/Clientassets/js/bootstrap.bundle.min.js"></script>

    <script>
        function BrowserServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                var image = document.getElementById("anhdaidien");
                document.getElementById(field).value = fileUrl;
                image.src = fileUrl;
            };
            finder.popup();
        }
    </script>


</body>

</html>

