@model PagedList.IPagedList<Models.DTO.Sach>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Sản phẩm</title>
    <style>
        .table-product {
            background-color: lightcyan;
        }

        .search {
            width: 100px;
            height: 30px;
            border-radius: 10px;
            background-color: aquamarine;
        }

        .ip_search {
            width:20%;
            height: 45px;
            border: none;
            margin-top:10px;
            margin-left:2.5%;
            text-align: center;
            background-color: lightgray;
            transition:all 1s;
            border-radius:0px 10px 10px 0px;

        }
        form{
            width:100%;
        }
        .ip_search:active{
            border:none;
            outline:none;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

            .pagination a,
            .pagination span {
                display: inline-block;
                padding: 6px 12px;
                margin-right: 5px;
                border-radius: 3px;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #007bff;
                text-decoration: none;
            }

                .pagination a:hover,
                .pagination span.current {
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;
                }

                .pagination span.ellipsis {
                    display: inline-block;
                    margin-right: 5px;
                    color: #007bff;
                }

                .pagination span.disabled {
                    display: none;
                }

        .title_modal_pro {
            height: 10%;
            width: 100%;
            border-bottom: 1px solid;
        }

        .content_modal_pro {
            margin-top: 30px;
            height: 80%;
            display: flex;
         
        }

        .avt_pro {
            width: 30%;
            border-right: 1px solid;
        }

        .infomation_pro {
            width: 70%;
        }
        .button-tab {
            width: 70px;
            text-align: center;
            height: 70px;
            text-decoration: none;
            border-radius: 50px;
            display: inline-block;
            background: linear-gradient(to bottom, limegreen, rgb(52 160 160));
        }
            .button-tab:hover {
                background: linear-gradient(to bottom, limegreen, limegreen);
            }
        .button-tab-0 {
            width: 70px;
            text-align: center;
            height: 100px;
            text-decoration: none;
            border-radius: 50px 50px 0px 0px;
            background-color: rgb(52 160 160);
        }
        
        .button-search:hover{
            background-color:aqua;
        }
       table{
           background-color:rgb(200,255,255,0.4);
           border-radius:20px;
       }
       tr{
           transition:all 0.5s;
       }
        tr:hover {
            background-color: lightgoldenrodyellow;
            border-radius:50px;
        }
        .button-tab-1 {
            width: 70px;
            text-align: center;
            height: 70px;
            text-decoration: none;
            border-radius: 50px;
        }
            .button-tab-1:hover {
                background: linear-gradient(to bottom, red, lightgray);
            }
    </style>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/Modal_product.css" rel="stylesheet" />
    <link href="~/Areas/Assets/fontawesome-free-6.3.0-web/css/all.min.css" rel="stylesheet" />
</head>
<body>
 
        <div class="detail_list">

            <div style="display:flex;height:70px;justify-content:space-between;width:95%;margin-bottom:20px">
                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                {
                    <div style="width:100%">
                        <div style="width:70px;height:70px;position:absolute;background-color:gray;border-radius:100px;text-align:center">
                            <i class="fa-solid fa-magnifying-glass fa-2xl" style="margin-top:35px;"></i>
                        </div>
                        <input type="text" id="input-search" class="ip_search" autocomplete="off" name="Searchstring" value="@ViewBag.Search" placeholder="Tìm kiếm ..." />
                    </div>
                }
            <div style="outline:none;width:20%;">

                <div style="display:flex;width:100%;height:25px;justify-content:space-around;">
                    <div class="button-tab-0">
                        <a class="button-tab" style="z-index:100" href="/them-san-pham">
                            <i class="fa-solid fa-square-plus fa-2xl " style="margin-top:35px;"></i>
                        </a>
                    </div>
                        <a class="button-tab-1" style="background-color:lightgray;" href="/thung-rac-san-pham">
                            <i class="fa-solid fa-trash fa-2xl" style="margin-top:35px;"></i>
                        </a>
                    </div>
                    <div style="width: 50%; height: 20px; background: linear-gradient(to left, lightgray, limegreen); margin-left: 25%; "></div>
                </div>


            </div>
            <table style="width:100%">
                <thead style="background-color: rgb(52 160 160);">
                    <tr >
                        <td id="title-table" style="color:aqua;font-weight:700">Ảnh</td>
                        <td id="title-table-1" style="color:aqua">Thể loại</td>
                        <td id="title-table-2" style="color:aqua">Tên sách</td>
                        <td id="title-table-3" style="color:aqua">Số lượng </td>
                        <td id="title-table-4" style="color:aqua">Giá</td>
                        <td id="title-table-5" style="color:aqua">Trạng Thái</td>
                        <td id="title-table-6" style="color:aqua">#</td>

                    </tr>
                </thead>

                <tbody id="body-table">
                    @foreach (var item in Model)
                    {
                        <tr id="row-table">

                            <td><img class="img_anh" src="@item.Anh" width="100" /></td>
                            <td>@item.Loai_Sach.Loaisach</td>
                            <td>@item.TenSach</td>
                            <td>@item.SoLuong</td>
                            <td>@item.Gia</td>
                            @if (item.Trangthai == true)
                            {
                                <td><a href="/ban-hoac-dung-@item.ID" style="color:rgb(15 147 0)">Đang bán</a></td>
                            }
                            else
                            {
                                <td><a href="/ban-hoac-dung-@item.ID" style="color:coral">Dừng bán</a></td>
                            }
                            <td>
                                <a class="modal-btn" data-modal-id="modal-@item.ID">Xem</a>
                                <div id="modal-@item.ID" class="modal">
                                    <div class="modal-content">
                                        <div class="title_modal_pro">
                                            <strong style="text-align: center;font-size:35px;">@item.TenSach</strong>
                                        </div>
                                        <div class="content_modal_pro">
                                            <div class="avt_pro">
                                                <div style="width:100%;height:75%;">
                                                    <img src="@item.Anh" style="width:200px;">
                                                </div>
                                                <div style="width:100%;text-align:start;font-size:20px">
                                                    <div style="display:flex">
                                                        <h3 style="min-width:50%"> Giá  </h3>
                                                        <p>: @item.Gia</p>
                                                    </div>
                                                    <div style="display:flex">
                                                        <h3 style="min-width:50%"> Số lượng  </h3>
                                                        <p>: @item.SoLuong</p>
                                                    </div>
                                                    <div style="display:flex">
                                                        <h3 style="min-width:50%">Nhà xuất bản  </h3>
                                                        <p>: @item.NhaXuatBan</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="infomation_pro">
                                               
                                                <div class="item_modal_pro">
                                                    <p>Đã bán : @item.SoLuong_DaBan</p>
                                                </div>
                                                <div class="item_modal_pro">
                                                    <p>Nhà xuất bản : @item.NhaXuatBan</p>
                                                </div>
                                                <div class="item_modal_pro">
                                                    <p>Tác giả : @item.TacGia</p>
                                                </div>
                                                <div class="item_modal_pro">
                                                    <p>Mô tả : @item.Mota</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>|
                                <a href="sua-san-pham-@item.ID">Sửa</a>|
                                <a href="bo-san-pham-@item.ID">Xóa</a>
                            </td>

                        </tr>
                    }





                </tbody>
            </table>
            
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
        </div>
        <!-- -----------------HD gan dayh--------- -->


    <script>



        var modalBtns = document.querySelectorAll('.modal-btn');

        modalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                modal.style.display = "block";
            });
        });

        var closeBtns = document.querySelectorAll('.close');
        closeBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modal = this.closest('.modal');
                modal.style.display = "none";
            });
        });
        window.onclick = function (event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = "none";
            }
        };


        var inputsearch = document.getElementById("input-search");
       
        inputsearch.addEventListener('mouseover', function () {
            inputsearch.style.width = "60%";
            inputsearch.style.borderRadius = "0px 50px 50px 0px";
            inputsearch.style.backgroundColor = "lightgreen";
        });
        inputsearch.addEventListener('mouseout', function () {
            inputsearch.style.width = "20%";
            inputsearch.style.borderRadius = "0px 10px 10px 0px";
            inputsearch.style.backgroundColor = "lightgray";
        });

        var bodytable = document.getElementById("body-table");
        var titletable = document.getElementById("title-table");
        var titletable0 = document.getElementById("title-table-1");
        var titletable1 = document.getElementById("title-table-2");
        var titletable2 = document.getElementById("title-table-3");
        var titletable3 = document.getElementById("title-table-4");
        var titletable4 = document.getElementById("title-table-5");
        var titletable5 = document.getElementById("title-table-6");
        bodytable.addEventListener('mouseover', function () {
            titletable.style.color = "#fff";
            titletable0.style.color = "#fff";
            titletable1.style.color = "#fff";
            titletable2.style.color = "#fff";
            titletable3.style.color = "#fff";
            titletable4.style.color = "#fff";
            titletable5.style.color = "#fff";
         
        });
        bodytable.addEventListener('mouseout', function () {
            titletable.style.color = "aqua";
            titletable0.style.color = "aqua";
            titletable1.style.color = "aqua";
            titletable2.style.color = "aqua";
            titletable3.style.color = "aqua";
            titletable4.style.color = "aqua";
            titletable5.style.color = "aqua";
           
        });
       

    </script>
</body>
</html>

