@model PagedList.IPagedList<Models.DTO.Sach>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<string> li = new List<string>();
}




<html>
<head>
    <title>Sản phẩm</title>
    <style>
        .table-product {
            background-color: lightcyan;
        }

        .search {
            width: 100px;
            height: 30px;
            border-radius: 10px;
            background-color: aquamarine;
        }

        .ip_search {
            width: 860px;
            height: 37px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

            .pagination a,
            .pagination span {
                display: inline-block;
                padding: 6px 12px;
                margin-right: 5px;
                border-radius: 3px;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #007bff;
                text-decoration: none;
            }

                .pagination a:hover,
                .pagination span.current {
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;
                }

                .pagination span.ellipsis {
                    display: inline-block;
                    margin-right: 5px;
                    color: #007bff;
                }

                .pagination span.disabled {
                    display: none;
                }
        .ip_search {
            width: 960px;
            height: 70px;
            border: none;
            background-color: lightcyan;
            text-align: center;
        }

            .ip_search:active {
                border: none;
                outline: none;
            }
        .button-tab {
            width: 150px;
            text-align: center;
            height: 70px;
            border-right: 1px solid;
            text-decoration: none;
            border:none;
                
        }

        .button-search:hover {
            background-color: aqua;
        }
    </style>

    <link href="~/Areas/Assets/css/Modal_thungrac_product.css" rel="stylesheet" />
</head>
<body>
    <div class="detail">

        <div class="detail_list" style="width:1300px;">

            <div style="display:flex;background-color:aqua;height:70px;">
                <div style="display: flex; ">
                    <a class="button-tab" href="/san-pham">
                        <p style="margin-top:25px;">Trở về</p>
                    </a>
                   
                </div>

                @using (Html.BeginForm("Statefalse", "Products", FormMethod.Get))
                {
                    <div style="display:flex;  ">
                        <button type="submit" class="button-tab button-search">Tìm kiếm</button>
                        <input type="text" class="ip_search" name="Searchstring" value="@ViewBag.Search" autocomplete="off" placeholder="Tìm kiếm ..." />
                    </div>
                }
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Ảnh</td>
                        <td>Thể loại</td>
                        <td>Tên sách</td>
                        <td>Số lượng </td>
                        <td>Giá</td>
                        <td>Trạng Thái</td>
                        <td>#</td>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td><img class="img_anh" src="@item.Anh" width="100" /></td>
                            <td>@item.Loai_Sach.Loaisach</td>
                            <td>@item.TenSach</td>
                            <td>@item.SoLuong</td>
                            <td>@item.Gia</td>
                            @if (item.Trangthai == true)
                            {
                                <td>Đang bán</td>
                            }
                            else
                            {
                                <td>Dừng bán</td>
                            }
                            <td>
                                <a href="/quay-lai-san-pham-@item.ID">Khôi phục</a> |
                               
                                <a class="modal-btn" data-modal-id="modal-@item.ID">Xóa</a>
                                <div id="modal-@item.ID" class="modal">
                                    <div class="modal-content">
                                        <div class="main_modal">
                                            <div class="title_modal">
                                                <p style="text-align:center;height:30px;">Thông báo</p>
                                                
                                            </div>
                                            <div class="content_modal">
                                                <p class="question">Bạn muốn xóa sản phẩm này ?</p>
                                                <div class="main_body">
                                                    <div class="main_body1">
                                                        <img style="width:90px;" src="@item.Anh"  />
                                                    </div>
                                                    <div class="main_body1" style="border-left:1px solid">
                                                        <p>@item.TenSach</p>
                                                        <p>Giá :@item.Gia</p>
                                                    </div>
                                                </div>
                                                <div class="btn_sumit">
                                                    <a class="btnsub" href="">Hủy</a>
                                                    <a class="btnsub" href="/delete-san-pham-@item.ID">Xóa</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    }





                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
        </div>


    </div>
    <script>

        var modalBtns = document.querySelectorAll('.modal-btn');

        modalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                modal.style.display = "block";
            });
        });

        var closeBtns = document.querySelectorAll('.close');
        closeBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modal = this.closest('.modal');
                modal.style.display = "none";
            });
        });
        window.onclick = function (event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = "none";
            }
        };

    </script>

</body>
</html>

