@model PagedList.IPagedList<Models.DTO.DonHang>
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Đơn hàng</title>
    <style>
        .table-product {
            background-color: lightcyan;
        }

        .search {
            width: 100px;
            height: 30px;
            border-radius: 10px;
            background-color: aquamarine;
        }

        .ip_search {
            width: 530px;
            height: 70px;
            border: none;
            text-align: center;
            background-color: lightcyan;
        }
        .ip_search:active{
            border:none;
            outline:none;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

            .pagination a,
            .pagination span {
                display: inline-block;
                padding: 6px 12px;
                margin-right: 5px;
                border-radius: 3px;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #007bff;
                text-decoration: none;
            }

                .pagination a:hover,
                .pagination span.current {
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;
                }

                .pagination span.ellipsis {
                    display: inline-block;
                    margin-right: 5px;
                    color: #007bff;
                }

                .pagination span.disabled {
                    display: none;
                }
        .button-tab {
            width: 150px;
            text-align: center;
            height: 70px;
            border-right: 1px solid;
            text-decoration: none
        }

        .button-search:hover {
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="detail">

        <div class="detail_list" style="width:1300px;">

            <div style="display:flex;background-color:aqua;height:70px;">
                <div style="display:flex;">
                    @{ int key = 1; }
                    <a class="button-tab" style="background-color:antiquewhite" href="/don-hang-@key">
                        <p style="margin-top:25px;">Đang chuẩn bị</p>
                    </a>
                    @{ int key2 = 2; }
                    <a class="button-tab" style="background-color:palegreen" href="/don-hang-@key2">
                        <p style="margin-top:25px;">Đang giao </p>
                    </a>
                    @{ int key3 = 3; }
                    <a class="button-tab" style="background-color:lightskyblue"  href="/don-hang-@key3">
                        <p style="margin-top:25px;">Đã giao </p>
                    </a>
                    @{ int key4 = 0; }
                    <a class="button-tab" style="background-color:lightcoral" href="/don-hang-@key4">
                        <p style="margin-top:25px;">Đã hủy </p>
                    </a>
                </div>

                @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
                {
                    foreach(var item in Model)
				    {
                        <input type="hidden" name="trangthai" value="@item.Trang_thai" />
                            break;
                      }
                    <div style="display:flex;  ">
                        <button type="submit" class="button-tab button-search" style="border:none">Tìm kiếm</button>
                        <input type="text" class="ip_search" name="Searchstring" value="@ViewBag.Search" autocomplete="off" placeholder="Tìm kiếm ..." />
                    </div>
                }
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Khách hàng</td>
                        <td>Tên sách</td>
                        <td>Số lượng </td>
                        <td>Giá</td>
                        <td>Trạng Thái</td>
                        <td>#</td>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>@item.KhachHang.TaiKhoan.TenTaiKhoan</td>
                        <td>@item.Sach.TenSach</td>
                        <td>@item.SoLuong</td>
                        <td>@(item.SoLuong * (item.Sach.Gia-item.Sach.Gia_giam))</td>

                        @if (item.Trang_thai == 1)
                        {
                            <td>Đang chuẩn bị</td>
                            <td>
                                <a href=""> Xem</a>|
                                <a href="/chuyen-trang-thai-@item.ID"> Giao</a>|
                                <a href="/huy-don-admin-@item.ID">Hủy đơn </a>
                            </td>
                        }
                        else if (item.Trang_thai == 2)
                        {
                            <td>Đang giao</td>
                            <td>
                                <a href=""> Xem</a>|
                                <a href="/chuyen-trang-thai-@item.ID"> Hoàn thành</a>
                            </td>
                        }
                        else if (item.Trang_thai == 3)
                        {
                            <td>Đã giao</td>
                            <td>
                                <a href=""> Xem</a>|
                                <a href="/xoa-don-hang-@item.ID"> Xóa</a>
                            </td>
                        }
                        else
                        {
                            <td>Đã hủy</td>
                            <td>
                                <a href=""> Xem</a>|
                                <a href="/xoa-don-hang-@item.ID"> Xóa</a>
                            </td>
                        }


                    </tr>
                    }





                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
        </div>
        <!-- -----------------HD gan dayh--------- -->


    </div>

</body>
</html>

