@model PagedList.IPagedList<Models.DTO.Loai_Sach>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Danh mục</title>
    <link href="~/Areas/Admin/Assets/css/Modal.css" rel="stylesheet" />
</head>
<body style="margin-top:60px">

    <p>
        <a href="/them-danh-muc">Thêm danh mục</a>
        @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
        {
            <div>
                <input type="text" name="Searchstring" value="@ViewBag.Search" placeholder="Tìm kiếm ..." />
                <button type="submit">Tìm</button>
            </div>

        }

    </p>
    <table class="table">
        <tr>
            <th>
                Loại sách
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Loaisach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trangthai)
                </td>
                <td>
                    <a href="/sua-danh-muc-@item.ID">Sửa</a>|

                    <a id="myBtn">Xóa</a>
                    <div id="myModal" class="modal">
                        <div class="content-modal">
                            <div>
                                <span class="close">&times;</span>
                                <p>Bán có muốn xóa danh mục này ?.</p>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <a href="/xoa-danh-muc-@item.ID">Xóa</a>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @Searchstring = @ViewBag.Search }))
    <script src="~/Areas/Admin/Assets/js/Modal.js"></script>
</body>
</html>

