@model List<Models.DTO.DonHang>
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Clientassets/css/order.css" rel="stylesheet" />
    <link href="~/Clientassets/font/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Clientassets/css/modal_order.css" rel="stylesheet" />
</head>
<body>
    <main class="cart-page">
        <div class="cart-content">
            <div class="first-title">
                <h4>Đơn hàng (@Model.Count)</h4>
                <a href="/lich-su-mua-hang">Lịch sử mua hàng</a>
            </div>
            <div class="cart-main">
                <div class="cart-item-1">
                    <div class="cart-sub">
                        @foreach (var item in Model)
                        {
                            <div class="cart-product">
                                <div class="product-box">
                                    <a>
                                        <img alt="Bàn phím cơ AKKO 3068B Plus World Tour Tokyo R2" src="@item.Sach.Anh" class=" rounded">
                                        <p class="price" ><small><i>@(item.Sach.Gia * item.SoLuong) vnđ </i></small> </p>
                                    </a>
                                    <div class="infomation-product">
                                        <div class="info-1">
                                            <div class="product-values">
                                                <a href="#">@item.Sach.TenSach</a>
                                                <p><i style="font-size: 13px;">Tác giả : @item.Sach.TacGia - Nhà xuất bản : @item.Sach.NhaXuatBan</i></p>
                                            </div>
                                            <div class="price-product">
                                                @if (item.Trang_thai == 1)
                                                {
                                                    <div class="list-function">
                                                        <a href="/huy-don-user-@item.ID">
                                                            <i class="fa-solid fa-rectangle-xmark fa-2xl cancel-order" style="color:lightcoral"></i>
                                                        </a>
                                                        <a href="#" class="modal-btn" data-modal-id="modal-@item.ID">
                                                            <i class="fa-solid fa-eye fa-2xl" style="color: rgb(213 211 0)"></i>
                                                        </a>

                                                        <div id="modal-@item.ID" class="modal">
                                                            <div class="modal-content">
                                                                <div class="header-respond">
                                                                    <h3>Thông tin đơn hàng</h3>
                                                                </div>
                                                                <div class="body-respond">
                                                                    <div class="body-respond-1">
                                                                        <img src="@item.Sach.Anh" style="width:60%;height:50%;" />
                                                                        <div style="width:100%;">
                                                                            <p>Giá : <i>@item.Tong_gia</i></p>
                                                                            <p>Sách : <i>@item.Sach.TenSach</i></p>
                                                                            <p>Số lượng : <i>@item.SoLuong</i></p>
                                                                            <p>Tác giả : <i>@item.Sach.TacGia</i></p>
                                                                            <p>Nhà xuất bản : <i>@item.Sach.NhaXuatBan</i></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="body-respond-2">
                                                                        <div class="info-user">
                                                                            <h3><i>Thông tin người đặt hàng</i></h3>
                                                                            <div >
                                                                                <p>Họ tên : <i>@item.KhachHang.HoTen</i></p>
                                                                                <p>Số điện thoại : <i>@item.KhachHang.SDT</i></p>
                                                                                <p>Địa chỉ : <i>@item.KhachHang.Diachi</i></p>
                                                                                <p>Email : <i>@item.KhachHang.Email</i></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info_receive">
                                                                            <h3><i>Thông tin người nhận hàng</i></h3>
                                                                            <div>
                                                                                <p>Họ tên : <i>@item.Hoten</i></p>
                                                                                <p>Số điện thoại : <i>@item.SDT</i></p>
                                                                                <p>Địa chỉ : <i>@item.Diachi</i></p>
                                                                                <p>Email : <i>@item.Email</i></p>
                                                                            </div>
                                                                        </div>
                                                                        <div style="width:100%;">
                                                                            <form action="/huy-don-user-@item.ID">
                                                                                <button class="Button-cancel" >Hủy đơn</button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <i class="fa-solid fa-truck-ramp-box fa-2xl icon-order" style="color: rgb(182 152 0);"></i>
                                                    <h3 style="margin-top: 10px; margin-left: 20px;">Đang chuẩn bị</h3>

                                                }
                                                else if (item.Trang_thai == 2)
                                                {
                                                    <div  class="list-function">
                                                        <a >
                                                            <i class="fa-solid fa-rectangle-xmark fa-2xl cancel-order" style="color:lightgray"></i>
                                                        </a>
                                                        <a href="#" class="modal-btn" data-modal-id="modal-@item.ID">
                                                            <i class="fa-solid fa-eye fa-2xl" style="color: rgb(213 211 0)"></i>
                                                        </a>

                                                        <div id="modal-@item.ID" class="modal">
                                                            <div class="modal-content">
                                                                <div class="header-respond">
                                                                    <h3>Thông tin đơn hàng</h3>
                                                                </div>
                                                                <div class="body-respond">
                                                                    <div class="body-respond-1">
                                                                        <img src="@item.Sach.Anh" style="width:60%;height:50%;" />
                                                                        <div style="width:100%;" class="info">
                                                                            <p>Giá : <i>@item.Tong_gia</i></p>
                                                                            <p>Sách : <i>@item.Sach.TenSach</i></p>
                                                                            <p>Số lượng : <i>@item.SoLuong</i></p>
                                                                            <p>Tác giả : <i>@item.Sach.TacGia</i></p>
                                                                            <p>Nhà xuất bản : <i>@item.Sach.NhaXuatBan</i></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="body-respond-2">
                                                                        <div class="info-user">
                                                                            <h3><i>Thông tin người đặt hàng</i></h3>
                                                                            <div >
                                                                                <p>Họ tên : <i>@item.KhachHang.HoTen</i></p>
                                                                                <p>Số điện thoại : <i>@item.KhachHang.SDT</i></p>
                                                                                <p>Địa chỉ : <i>@item.KhachHang.Diachi</i></p>
                                                                                <p>Email : <i>@item.KhachHang.Email</i></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="info_receive">
                                                                            <h3><i>Thông tin người nhận hàng</i></h3>
                                                                            <div>
                                                                                <p>Họ tên : <i>@item.Hoten</i></p>
                                                                                <p>Số điện thoại : <i>@item.SDT</i></p>
                                                                                <p>Địa chỉ : <i>@item.Diachi</i></p>
                                                                                <p>Email : <i>@item.Email</i></p>
                                                                            </div>
                                                                        </div>
                                                                            
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <i class="fa-solid fa-truck fa-2xl icon-order" style="color: rgb(0 143 9); "></i>
                                                    <h3 style="margin-top: 10px; margin-left: 20px;">Đang chuẩn bị</h3>
                                                    
                                                }


                                            </div>
                                        </div>
                                        <div class="info-2">
                                            <input type="hidden" name="id" value="@item.ID" />
                                            <div style="display: flex; margin-left: 20px">
                                                <div class="count-product">
                                                    <small>Số lượng :@item.SoLuong</small>
                                                </div>
                                            </div>
                                            <div class="progress" style="margin-top:5px;">
                                                @if (item.Trang_thai == 1)
                                                {
                                                    <div class="base-line">
                                                        <div class="line-process"></div>
                                                    </div>
                                                    <div class="progress1">

                                                        <div class="process">
                                                            <i class="fa-solid fa-truck-ramp-box fa-2xl" style="color: rgb(182 152 0)"></i>
                                                        </div>
                                                        <div class="process">
                                                            <i class="fa-solid fa-truck fa-2xl" style="color:black  "></i>
                                                        </div>
                                                        <div class="process">
                                                            <i class="fa-regular fa-circle-check fa-2xl" style="color: black"></i>
                                                        </div>
                                                        <div class="process">
                                                            <i class="fa-solid fa-trash fa-2xl" style="color: black"></i>
                                                        </div>

                                                    </div>
                                                }
                                                else if (item.Trang_thai == 2)
                                                {
                                                    <div class="base-line">
                                                        <div class="line-process-1"></div>
                                                    </div>
                                                    <div class="progress1">

                                                        <div class="process">
                                                            <i class="fa-solid fa-truck-ramp-box fa-2xl" style="color: rgb(182 152 0)"></i>
                                                        </div>
                                                        <div class="process">
                                                            <i class="fa-solid fa-truck fa-2xl" style="color:rgb(0 143 9)"></i>
                                                        </div>
                                                        <div class="process">
                                                            <i class="fa-regular fa-circle-check fa-2xl" style="color: black"></i>
                                                        </div>
                                                        <div class="process">
                                                            <i class="fa-solid fa-trash fa-2xl" style="color: black"></i>
                                                        </div>

                                                    </div>
                                                }
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                </div>

            </div>
           
        </div>
    </main>
    <script>

         var modalBtns = document.querySelectorAll('.modal-btn');

        modalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                modal.style.display = "block";
            });
        });


        window.onclick = function (event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = "none";
            }
        };



    </script>
</body>
</html>
