@model Models.DTO.Sach
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempProduct</title>
    <style>
        .imag {
            margin-top: 20px;
            border-radius: 50% 20%/ 10% 40%;
           
        }

        .imguser {
            flex: 3;
            text-align: center;
            border-right: 2px solid;
            background-color: gray;
            border-radius:10px;
        }

        .infouser {
            flex: 7;
            margin-left: 30px;
            margin-top: 30px;
            display:flex;
        }
        
    </style>
</head>
<body>
    <div class="imguser">
        <img class="imag" src="@Model.Anh" width="150" />
    </div>
    <div class="infouser">
        <div class="item1">
            <p><strong>Tên sách :</strong></p>
            <p><strong>Tác giả :</strong></p>
            <p><strong>Nhà sản xuất :</strong></p>
        </div>
        <div class="item2">
            <p>@Model.TenSach</p>
            <p>@Model.TacGia</p>
            <p>@Model.NhaXuatBan</p>
        </div>
        <div class="item3" style="margin-left:120px;">
            <p><strong>Số lượng còn :</strong></p>
            <p><strong>Giá :</strong></p>
            <p><strong>Giá đang giảm :</strong></p>
        </div>
        <div class="item4">
            <p>@Model.SoLuong</p>
            <p>@Model.Gia</p>
            <p>@Model.Gia_giam</p>
        </div>
    </div>
</body>
</html>
