@model Models.DTO.KhachHang
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempUser</title>
    <style>
  
        .imag{
            margin-top:20px;
            border-radius:50% 20%/ 10% 40%;
        }
        .imguser {
            flex: 3;
            text-align:center;
            border-right:2px solid;
        }
        .infouser{
            flex:7;
            margin-left:30px;
            margin-top:30px;
        }
    </style>
</head>
<body>
                <div class="imguser">
                    <img class="imag" src="@Model.AnhDaiDien" width="150" />
                </div>
                <div class="infouser">
                    <table style="width:90%">
                        <thead>
                            <tr>
                                <th>Họ và tên</th>
                                <th>Email</th>
                                <th>SDT</th>
                                <th>Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.HoTen</td>
                                <td>@Model.Email</td>
                                <td>@Model.SDT</td>
                                <td>@Model.Diachi</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
           
</body>
</html>
