@model List<Models.DTO.Temp>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempVoucher</title>
    <link rel="stylesheet" href="~/Clientassets/css/TempPage.css">
    <style>
        select{
            width:80%;
            height:40px;
            border-radius:50px;
            background-color:lightgray;
            border:none;
            text-align:center
        }
    </style>
</head>
<body>
    <select name="magiamgia" id="magiamgia">

        @if (Model.Count < 1)
        {
            ViewBag.Magiamgia = 0;
            <option value="">Bạn chưa có mã giảm giá</option>
        }
        else
        {
            <option value="">Không chọn mã nào</option>
            foreach (var item in Model)
            {
                if (item.Magiamgia.Trangthai == false || item.Magiamgia.Time2.Value < DateTime.Now)
                {
                    <option value="@item.Magiamgia.Ma" disabled>@item.Magiamgia.Ma - @item.Magiamgia.Giatri <i><small style="color:lightcoral">( Hết hạn )</small></i></option>
                }
                else
                {
                    <option value="@item.Magiamgia.Ma">@item.Magiamgia.Ma - @item.Magiamgia.Giatri</option>
                }

            }
        }

    </select>
  
 
</body>
</html>
